In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.cluster import MeanShift
from sklearn import preprocessing

In [ ]:
df = pd.read_excel("titanic.xls")
originial_df = df.copy()

df.drop(['body', 'name'], axis=1, inplace=True)
df.fillna(0, inplace=True)
df.head()

   pclass  survived     sex  ...  embarked  boat                        home.dest
0       1         1  female  ...         S     2                     St Louis, MO
1       1         1    male  ...         S    11  Montreal, PQ / Chesterville, ON
2       1         0  female  ...         S     0  Montreal, PQ / Chesterville, ON
3       1         0    male  ...         S     0  Montreal, PQ / Chesterville, ON
4       1         0  female  ...         S     0  Montreal, PQ / Chesterville, ON

[5 rows x 12 columns]

In [ ]:
text_to_int = {}
def convert_to_int(z):
    return text_to_int[z]

def convert_to_numeric(df):
    for column in df.columns.values:
        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            column_elements = df[column].values.tolist()
            unique_elements = set(column_elements)
            i = 0
            for e in unique_elements:
                if e not in text_to_int:
                    text_to_int[e] = i
                    i += 1

            df[column] = list(map(convert_to_int, df[column]))

    return df

In [ ]:
df = convert_to_numeric(df)
print(df.head())
X = np.array(df.drop(['survived'], axis=1).astype(float))
X = preprocessing.scale(X)
y = np.array(df['survived'])

   pclass  survived  sex      age  ...  cabin  embarked  boat  home.dest
0       1         1    1  29.0000  ...     18         2     1        258
1       1         1    0   0.9167  ...     39         2    18        118
2       1         0    1   2.0000  ...     39         2     0        118
3       1         0    0  30.0000  ...     39         2     0        118
4       1         0    1  25.0000  ...     39         2     0        118

[5 rows x 12 columns]

In [ ]:
model = MeanShift()
model.fit(X)

MeanShift(bandwidth=None, bin_seeding=False, cluster_all=True, max_iter=300,
          min_bin_freq=1, n_jobs=None, seeds=None)

In [ ]:
labels = model.labels_
cluster_centers = model.cluster_centers_
n_clusters_ = len(np.unique(labels))
print("Groups:", n_clusters_)

Groups: 3

In [ ]:
originial_df["label"] = np.nan
survival_rates = {}
for i in range(len(X)):
    originial_df["label"].iloc[i] = labels[i]

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [ ]:
for i in range(n_clusters_):
    temp_df = originial_df[(originial_df["label"] == float(i))]
    survived_df = temp_df[(temp_df["survived"] == 1)]
    survival_rate = len(survived_df)/len(temp_df)
    survival_rates[i] = survival_rate

print(survival_rates)

{0: 0.37734375, 1: 0.8421052631578947, 2: 0.1}

In [ ]:
temp_df = originial_df[(originial_df["label"] == 1)]
temp_df_pclass = temp_df["pclass"]
temp_df_pclass.describe()

count    19.0
mean      1.0
std       0.0
min       1.0
25%       1.0
50%       1.0
75%       1.0
max       1.0
Name: pclass, dtype: float64

In [ ]:
temp_df = originial_df[(originial_df["label"] == 0)]
temp_df_pclass = temp_df["pclass"]
temp_df_pclass.describe()

count    1280.000000
mean        2.308594
std         0.830001
min         1.000000
25%         2.000000
50%         3.000000
75%         3.000000
max         3.000000
Name: pclass, dtype: float64

In [ ]:
temp_df = originial_df[(originial_df["label"] == 1)]
temp_df_fc = temp_df[(temp_df["pclass"] == 1)]
len(temp_df_fc)/len(temp_df)

1.0

In [ ]:
temp_df = originial_df[(originial_df["label"] == 0)]
temp_df_fc = temp_df[(temp_df["pclass"] == 1)]
len(temp_df_fc)/len(temp_df)

0.2375

In [ ]:
temp_df = originial_df[(originial_df["label"] == 2)]
temp_df_fc = temp_df[(temp_df["pclass"] == 1)]
len(temp_df_fc)/len(temp_df)

0.0