In [ ]:
!pip install torchtext==0.8.0

In [2]:
# run this twice
from torchtext.data import Field, LabelField, TabularDataset, BucketIterator
!export LD_LIBRARY_PATH=/usr/local/cuda-9.0/lib64

In [3]:
import spacy
import torch
import pandas as pd
from torchtext.data import Field, LabelField, TabularDataset, BucketIterator

In [4]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
df = pd.read_csv('test.csv')
df.head()

         name                                              quote  score
0       Jocko  You must own everything in your world. There i...      1
1   Bruce Lee  Do not pray for an easy life, pray for the str...      1
2  Potato guy                Stand tall, and rice like a potato!      0

In [6]:
TEXT0 = Field(sequential=True, use_vocab=True, tokenize='spacy', lower=True)
TEXT1 = Field(sequential=True, use_vocab=True, tokenize='spacy', lower=True)
LABEL = LabelField(dtype=torch.float)
fields = {'name': ('name', TEXT0), 'quote': ('quote', TEXT1), 'score': ('score', LABEL)}

In [8]:
train_data, test_data = TabularDataset.splits(
    path="", train="test.csv", test="test.csv", format="csv", fields=fields # use test data here
)
TEXT0.build_vocab(train_data, max_size=10000, min_freq=3)
TEXT1.build_vocab(train_data, max_size=10000, min_freq=3)
LABEL.build_vocab(train_data)
train_iterator, test_iterator = BucketIterator.splits(
    (train_data, test_data), batch_size=2, device='cpu'
)

In [10]:
for d in train_data:
    print(vars(d)['name'])
    print(vars(d)['quote'])
    print(vars(d)['score'])
    break

['jocko']
['you', 'must', 'own', 'everything', 'in', 'your', 'world', '.', 'there', 'is', 'no', 'one', 'else', 'to', 'blame', '.']
1

In [11]:
batch = next(iter(train_iterator))
print(batch.name, batch.quote, batch.score)

tensor([[0]]) tensor([[0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [2],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [2]]) tensor([0.])

In [13]:
print(len(TEXT0.vocab), len(TEXT1.vocab), len(LABEL.vocab), LABEL.vocab.stoi, LABEL.vocab.itos)

2 3 2 defaultdict(None, {'1': 0, '0': 1}) ['1', '0']